@import "tailwindcss";

body {
  background-color: #121212;
  color: #white; /* or color: #ffffff; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
